<div class="animated fadeIn">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input class="form-control" [(ngModel)]="lessonModel.name" type="text" required>
                </div>
                <div class="form-group">
                  <label for="name">Level ID:</label>
                  <input class="form-control" [(ngModel)]="lessonModel.level_id" type="text" required>
                </div>
                <button type="button" (click)="createLesson()" class="btn btn-primary" data-toggle="modal">Add New
                </button>
                <button type="button"class="btn btn-primary" [routerLink]="[ '/list-lesson']" class="marginleft-5">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  