<div class="animated fadeIn">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">ID: </label>
                  <input disabled="disabled"  class="form-control" [(ngModel)]="quizWritingModel.id" type="text">
                </div>
                <div class="form-group">
                  <label for="name">Question: </label>
                  <input  class="form-control" [(ngModel)]="quizWritingModel.question" type="text">
                </div>
                <div class="form-group">
                  <label for="name">Answer: </label>
                  <input  class="form-control" [(ngModel)]="quizWritingModel.answer" type="text">
                </div>
                  <button (click)="updateQuizWriting(quizWritingModel)"  class="btn btn-primary" data-toggle="modal">Save</button>
                  <a class="btn btn-primary" [routerLink]="[ '/list-quiz-writing']">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  