<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
  
          <!-- tạo bảng -->
          <div class="card-body">
            <!-- thanh tìm kiếm -->
            <div class="row card-body">
  
              <!-- kết thúc thanh tìm kiếm -->
            </div>
            <table class="table table-striped table-dark table-sm">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Kanji Vocab</th>
                  <th>Hiragana</th>
                  <th>Vocab Meaning</th>
                  <th>Kanji ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of list">
                  <td>{{item.id}}</td>
                  <td>{{item.kanji_vocab}}</td>
                  <td>{{item.hiragana}}</td>
                  <td>{{item.vocab_meaning}}</td>
                  <td>{{item.kanji_id}}</td>
                  <!-- <td> <button  class="btn btn-primary" data-toggle="modal">Update</button> </td> -->
                  <td>
                    <a class="btn btn-info" [routerLink]="[ '/vocabularies/'+item.id]">Update</a>
                  </td>
                  <td> 
                    <button type="button" (click)="deleteVocabulary(item.id)" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button> 
                  </td>  
                </tr>
              </tbody>
            </table>
          </div>
          <!-- kết thúc tạo bảng -->


          <!-- tạo pagination -->
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-12 d-sm-down-none">
                <pagination [boundaryLinks]="true" [maxSize]=5 [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                  [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
                </pagination>
              </div>
            </div>
          </div>
  
          <!-- kết thúc tạo pagination -->
        </div>
      </div>
    </div>