<div class="animated fadeIn">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">ID: </label>
                  <input disabled="disabled"  class="form-control" [(ngModel)]="userModel.id" type="text">
                </div>
                <div class="form-group">
                  <label for="name">Email: </label>
                  <input disabled="disabled"  class="form-control" [(ngModel)]="userModel.email" type="text">
                </div>
                <div class="form-group">
                  <label for="name">Password: </label>
                  <input disabled="disabled" class="form-control" [(ngModel)]="userModel.password" type="text">
                </div>
                <div class="form-group">
                  <label for="name">Username: </label>
                  <input disabled="disabled" class="form-control" [(ngModel)]="userModel.username" type="text">
                </div>
                <div class="form-group">
                    <label for="name">Enabled: </label>
                    <input  class="form-control" [(ngModel)]="userModel.enabled" type="text">
                  </div>
                  <button (click)="updateUser()"  class="btn btn-primary" data-toggle="modal">Update</button>
                  <a class="btn btn-primary" [routerLink]="[ '/list-user']" class="marginleft-5">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  